<footer>
    <div>
        <h3>Contact</h3>
        <address>
            <strong>Trysoft Maciej Trybuła</strong><br>
            Pomorska 6/1, 50-218 Wrocław<br>
            <abbr title="Phone">P:</abbr> (+48) 792889188
        </address>
        <address>
            <strong>Maciej Trybuła</strong><br>
            <a href="mailto:#">maciej.trybula@gmail.com</a>
        </address>
    </div>
</footer>